<div class="ui secondary pointing menu nav-space">
  <div class="header item">
    <b class="dragon-color">FantasyTasks</b> <i class="ra ra-dragon ra-2x dragon-color"></i>
  </div>
  <div class="ui container">
    <a routerLink="/frontpage" routerLinkActive="active" class="item">
      Frontpage
    </a>
    <a routerLink="/profile" routerLinkActive="active" class="item">
      Profile
    </a>
  </div>
  <div class="right menu">
    <a (click)="logout()" class="ui item danger">
      Logout
    </a>
  </div>
</div>